body{
    background-image: url("./img/client.jpeg");
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    margin: 0;padding: 0;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: #c43151;
    margin-left: 650px;
}

span {
    font-size: 20px;
    font-weight: 600;
    color: #cf5557;
    margin-left: 300px;
}

#client {
    width: 200px;
    height: 20px;
}

#submit {
    background-color: #55b4cf;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-left: 300px;

}

.list {
    background-color: #38c1ef;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 30px;
}

#list {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}