body {
    margin: 0;
    padding: 0;
    background-image: url("./img/bill.jpeg");
    height: 100%;
    width: 100%;
    background-size: cover;
}

form {
    background-color: #dfe4e8;
    width: 50%;
    margin-left: 350px;
    margin-top: 100px;
    border: none;
    border-radius: 10px;
}

h1 {
    color: indianred;
    padding-left: 270px;
    padding-top: 10px;
}

label {
    margin-left: 100px;
    color: #1c678c;
    font-size: 30px;
    font-weight: 500;
}

input {
    margin-top: 40px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: #5eaed6;
    color: #fff;
    height: 40px;
    width: 150px;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.list {
    background-color: #38c1ef;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 30px;
}

#list {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}